.book-form {
    border: 1px solid #fe7f18;
    border-radius: 10px;
    background-color: white;
    width: 800px;
    margin: auto;
    text-align: center;
}

.way-to-get {
    margin: auto;
    width: 500px;
    text-align: center;
}

.way-to-get label {
}

#street {
    text-align: center;
}


#house {
    display: inline-block;
    width: 17%;
    text-align: center;
}

#house input {
    width: 100%;
}

#flat {
    display: inline-block;
    width: 17%;
    text-align: center;
    margin-left: 30px;
}

#flat input{
    width: 100%;
}

.contact-info {
    text-align: center;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #fe7f18;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #fe7f18;
    content: '';
    display: block;
    position: relative;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}