.cart-items {
    min-height: 600px;
}

.cart-item {
    height: 200px;
    border-bottom: 1px solid #c1bbbb;
}

.cart-item-header {
    height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #c1bbbb;
}

.cart-item-col {
    display: table;
    text-align: center;
    height: 100%;
}

.cart-item-col div {
    display: table-cell;
    vertical-align: middle;
}

.cart-item-number {
    width: 50px;
    text-align: center;
}

.total-line {
    font-size: 25px;
    margin: 30px 0;
}

.simpleCart_items .headerRow {
    display: none;
}

