.filter-wrap {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #fe7f18;
    max-height: 600px;
}

.price-input {
    font-size: 14px;
    width: 80px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
}

#slider-range {
    margin-top: 10px;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 9.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #fe7f18;
}
.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 30px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #fe7f18;
    content: '';
    display: block;
    position: relative;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}

.ui-slider-range {
    background-color: #fe7f18;
}

.price-options {
    text-align: center;
}

.producer-options {

}

.age-options {

}

.submit-options {
    text-align: center;
}

.products {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #fe7f18;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}