.memenu {
    margin: 5px 0 0 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 15px;
}

.showhide {
	text-align: center;
}

.memenu li{
	display:inline-block;
}
.memenu>li>a {
    float: left;
    padding-right: 45px;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.memenu>li>.mepanel {
	position: absolute;
	display: none;
	background: #fff;
	width: 80%;
	top: 30px;
	left: 11%;
	z-index: 99;
	padding: 20px 30px 20px;
	border: solid 1px #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.me-one ul{
	padding:0;
}
.me-one ul li {
	list-style: none;
	margin: 0 0 7px 0;
	text-align: left !important;
	display: block;
}
.me-one ul li a {
    color: #999;
    font-size: 13px;
}
.me-one ul li a:hover{
	text-decoration:none;
	color:#73B6E1;
}
.me-one h4 {
    color: #000000;
    font-size: 1.1em;
    text-align: left;
}
.memenu .mepanel ul{
	margin:0;
	padding:0;
}
.memenu .mepanel img{
	width:100%;border:solid 1px #dedede;
	cursor:pointer;-webkit-transition:border .3s linear;
	-moz-transition:border .3s linear;-o-transition:border .3s linear;transition:border .3s linear}.memenu .mepanel img:hover{border:solid 1px #777}.memenu form.contact input,.memenu form.contact textarea{font-family:Calibri,Arial;font-size:16px;color:#444;outline:0}
.mepanel .row{
	width:100%;
	margin-top:15px;
}
.mepanel .row:first-child{
	margin-top:0;
}
.mepanel .row:before,.mepanel .row:after{
	display:table;
	content:"";
	line-height:0;
}
.mepanel .row:after{
	clear:both
}
.mepanel .row .col1,.mepanel .row .col2,.mepanel .row .col3,.mepanel .row .col4,.mepanel .row .col5,.mepanel .row .col6{display:block;width:100%;min-height:20px;float:left;margin-left:2.127659574468085%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.mepanel .row .col1 {
	width: 30%;
}
.mepanel .row .col2{
	width:31.914893617021278%;
}
.mepanel .row .col3{
	width:48.93617021276595%;
}
.mepanel .row .col4{
	width:65.95744680851064%;
}
.mepanel .row .col5{
	width:82.97872340425532%;
}
.mepanel .row .col6{
	width:100%
}
.memenu>li.showhide{
	display:none;
	width:100%;
	height:50px;
	cursor:pointer;
	color:#555;
	background:rgba(255,115,0,0.9);
}
.memenu>li.showhide span.title{
	margin:0 0 0 25px;
	float:left;
	font-size: 25px;
}

.skyblue li>a,.skyblue>li.showhide span{
	color:white;
	width: 100%;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
}
.skyblue>li:hover>a,.skyblue>li.active>a,.skyblue .dropdown li:hover>a{
	color: #000000;
}
.skyblue .mepanel img:hover,.skyblue form.contact input[type="text"]:focus,.skyblue form.contact textarea:focus{
	border:solid 1px #0194be;
}
.skyblue form.contact input[type="submit"]{
	background:#0194be;
}