body {
    background-color: #f2f4f4;
    font-family: 'Jura', sans-serif;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.main-wrapper {
    max-width: 1200px;
    min-width: 900px;
    margin: 10px auto;
}

.main-header {
    background-color: #3e3e3e;
    height: 25px;
    min-width: 900px;
    text-align: center;
    font-size: 15px;
}

.main-header a {
    color: white;
    margin: 0 10px;
}

.header {
    min-width: 900px;
    margin-bottom: 15px;
}

.header-text {
    padding-top: 10px;
    max-width: 100%;
}

.main-navbar {
    margin-top: 10px;
    text-align: center;
    background: rgba(255,115,0,0.9);
}

.menu-option {
    width: 20%;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-transform: uppercase;
}

.menu-option:hover {
    text-decoration: none;
    color: #e8ca14;
}

.header-options {
    text-align: center;
    padding-top: 7%;
}

.header-option a{
    color: black;
}

.dashed {
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted;
    font-size: 15px;
}

.dashed:hover {
    text-decoration: none;
    border-bottom: none;
}

.search-area {
    margin:auto auto 35px auto;
    max-width: 1000px;
}

.search-input, .search-btn {
    outline: none;
}

.search-input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    padding-right: 70px;
    border: 1px solid #fe7f18;
}

.search-btn {
    height: 36px;
    position: absolute;
    top: 3px;
    right: 19px;
    cursor: pointer;
    border-radius: 10px;
}

#cart-btn {
    height: 100%;
    background: rebeccapurple;
    color: white;
}

.ad-carousel {
    max-width: 1200px;
    min-width: 900px;
    margin: 10px auto;
}

.ad-image {}

.ad-image a{
    height: 200px;
    margin-bottom: 10px;
    display: block;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.ad-image a:hover{
    text-decoration: none;
    color: rgba(255,115,0,0.9);
    opacity: .8;
}

.product-tabs {
    max-width: 1200px;
    margin: 50px auto;
    min-width: 900px;
}

.nav-tabs {
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: rgba(255,115,0,0.9);
    z-index: 2;
    position: relative;
    border-radius: 10px;
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    background-color: rgba(255,255,255,.2) !important;
    color: white;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 2px;
}

.tab-pane {
    background-color: #f2f4f4;
}

.about {
    max-width: 1200px;
    margin: 100px auto;
    min-width: 900px;
    font-style: italic;
    text-align: center;
}

.logo-word {
    color: red;
    font-size: 150%;
    position: relative;
    top: 1px;
}

.about h2 {
    text-decoration: underline;
}

.social {
    text-align: center;
}

.social p {
    margin: 0;
}

.footer {
    padding: 10px 0;
    text-align: center;
    background: #3e3e3e;
    color: white;
}

.sub-form {
    text-align: center;
}

.sub-form form {
    margin-top: 10px;
}

.sub-form p{
    color:#000;
    font-size:15px;
}
.sub-form p a{
    color:#000;
}
.sub-form input[type="text"] {
    width: 47%;
    margin-right: 10px;
    color: #000;
    font-size: 11px;
    background: none;
    padding: 8px 10px;
    outline: none;
    border: none;
    border: 1px solid #000;
}
.sub-form input[type=submit] {
    color: #000;
    padding: 6px 20px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #000;
    background: none;
    outline: none;
}
.sub-form input[type=submit]:hover{
    background: #73B6E1;
    color:#fff;
    border: 1px solid #73B6E1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*стили для каталога*/
.btn-color {
    background: #fe7f18;
    color: white;
    cursor: pointer;
}

.product-left {
    text-align: center;
}
.product-main {
    padding: 1em 0 2.7em 0;
    border:1px solid #ECEAEA;
    background-color: white;
    max-width: 300px;
    margin: auto auto 10px auto;
}
.product {
    padding: 3em 0 6em 0;
}

.product-bottom h3 {
    font-size: 16px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
}
.product-bottom h4 span{
    font-size: 17px;
    color: #000;
    margin: 5px 0 0 0;
}
.product-bottom h4 i {
    background: url(../img/cart-2.png) no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.product-left:hover .product-bottom h4 i{
    background: url(../img/cart-3.png) no-repeat;
}
.product-bottom {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
.product-bottom p {
    font-size: 12px;
    color: #999;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}
.product-one:nth-child(2){
    margin-top:30px;
}
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    margin: 0 auto;
}
.product-left:hover img.zoom-img{
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
    cursor:pointer;
}
a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 12px 0;
}
.product-left:hover .product-bottom h3{
    color:#fe7f18;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-bottom h4 span{
    color:#fe7f18;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-main{
    border:1px solid #fe7f18;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.nav-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    opacity: 0.95;
}

